# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Databases & Local Data Exports
*.db
*.sqlite
*.sqlite3

# OS System Files
.DS_Store
Thumbs.db

# Tableau / Local Workspace Files
*.log
*.tmp
